<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bishe.dgut.edu.cn.reallygoodapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AllTheme">

        <activity
            android:name=".MainActivity" android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--个人信息-->
        <activity
            android:name=".user.info.StudentUserInfoActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的分享-->
        <activity
            android:name=".user.UserChatActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的简历-->
        <activity
            android:name=".user.resume.UserResumeActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的代理-->
        <activity
            android:name=".user.UserAgentActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的能力-->
        <activity
            android:name=".user.UserAbilityActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的收藏-->
        <activity
            android:name=".user.UserCollectActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的设置-->
        <activity
            android:name=".user.setting.UserSettingActivity"
            android:theme="@style/UserActivityTheme" />
        <!--关于-->
        <activity
            android:name=".user.setting.AboutActivity"
            android:theme="@style/UserActivityTheme" />
        <!--兼职-->
        <activity android:name=".home.parttimejob.HomePartTimeJobActivity"
            android:theme="@style/PartTimeJobTheme"/>
        <!--招聘会-->
        <activity android:name=".home.recruit.HomeRecruitActivity"/>
        <!--经验分享-->
        <activity android:name=".home.experience.HomeExperienceActivity"/>
        <!--社团-->
        <activity android:name=".home.organization.HomeOrganizationActivity"/>
        <!--招人-->
        <activity android:name=".home.parttimejob.EmployPersonActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/PartTimeJobTheme"/>
        <!--招人-选择职能-->
        <activity
            android:name=".home.parttimejob.EmployPersonJobInfoJobTypeActivity"
            android:theme="@style/PartTimeJobTheme" />
        <!--选择地址activity-->
        <activity
            android:name=".module.chooseplace.ChoosePlaceActivity"
            android:theme="@style/ChoosePlaceTheme" />
        <activity android:name=".JobInfoActivity" />
        <!--用户头像修改-->
        <activity
            android:name=".user.info.AvatarActivity"
            android:theme="@style/UserActivityTheme" />
        <!--用户昵称修改-->
        <activity
            android:name=".user.info.NameActivity"
            android:theme="@style/UserActivityTheme" />
        <!--个性签名修改-->
        <activity
            android:name=".user.info.LogActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的简历基本信息页-->
        <activity
            android:name=".user.resume.UserResumeInfoActivity"
            android:theme="@style/UserActivityTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <!--工作经验-->
        <activity
            android:name=".user.resume.UserResumeWorkExperienceActivity"
            android:theme="@style/UserActivityTheme" />
        <!--添加工作经验-->
        <activity
            android:name=".user.resume.UserResumeWorkExperienceAddActivity"
            android:theme="@style/UserActivityTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <!--职位描述-->
        <activity
            android:name=".user.resume.UserResumeWorkExperienceAddDescribeActivity"
            android:theme="@style/UserActivityTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <!--在校情况-->
        <activity
            android:name=".user.resume.UserResumeSchoolActivity"
            android:theme="@style/UserActivityTheme" />
        <!--校内荣誉-->
        <activity
            android:name=".user.resume.UserResumeSchoolHonorAddActivity"
            android:theme="@style/UserActivityTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <!--校内职务-->
        <activity
            android:name=".user.resume.UserResumeSchoolPostAddActivity"
            android:theme="@style/UserActivityTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <!--职务描述-->
        <activity
            android:name=".user.resume.UserResumeSchoolPostAddDescribeActivty"
            android:theme="@style/UserActivityTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <!--登录-->
        <activity android:name=".LoginActivity"/>
        <!--学生注册-->
        <activity
            android:name=".RegisterStudentActivity"
            android:theme="@style/RegisterTheme" />
        <!--公司注册-->
        <activity
            android:name=".RegisterCompanyActivity"
            android:theme="@style/RegisterTheme" />
        <!--发布随想-->
        <activity
            android:name=".share.ShareSendTalkActivity"
            android:theme="@style/ShareSendTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <!--发布经验-->
        <activity
            android:name=".home.experience.ShareSendExperienceActivity"
            android:theme="@style/ShareSendTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <!--录用界面-->
        <activity android:name=".ApplyDealJobActivity" />
        <!--面试时间地点界面-->
        <activity android:name=".MeetActivity" />
        <!--学生评价界面-->
        <activity android:name=".EvaluationStudentActivity"/>
    </application>

</manifest>
