<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bishe.dgut.edu.cn.reallygoodapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AllTheme">

        <activity
            android:name=".MainActivity" android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--个人信息-->
        <activity
            android:name=".user.UserInfoActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的分享-->
        <activity
            android:name=".user.UserChatActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的简历-->
        <activity
            android:name=".user.UserResumeActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的代理-->
        <activity
            android:name=".user.UserAgentActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的能力-->
        <activity
            android:name=".user.UserAbilityActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的收藏-->
        <activity
            android:name=".user.UserCollectActivity"
            android:theme="@style/UserActivityTheme" />
        <!--我的设置-->
        <activity
            android:name=".user.setting.UserSettingActivity"
            android:theme="@style/UserActivityTheme" />
        <!--关于-->
        <activity
            android:name=".user.setting.AboutActivity"
            android:theme="@style/UserActivityTheme" />
        <!--兼职-->
        <activity android:name=".home.parttimejob.HomePartTimeJobActivity"
            android:theme="@style/PartTimeJobTheme"/>
        <!--招聘会-->
        <activity android:name=".home.recruit.HomeRecruitActivity"/>
        <!--经验分享-->
        <activity android:name=".home.experience.HomeExperienceActivity"/>
        <!--社团-->
        <activity android:name=".home.organization.HomeOrganizationActivity"/>
        <!--招人-->
        <activity android:name=".home.parttimejob.EmployPersonActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/PartTimeJobTheme"/>
    </application>

</manifest>
