<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bishe.dgut.edu.cn.reallygoodapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AllTheme">

        <activity
            android:name=".MainActivity" android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.UserInfoActivity"
            android:theme="@style/UserActivityTheme" />
        <activity
            android:name=".user.UserChatActivity"
            android:theme="@style/UserActivityTheme" />
        <activity
            android:name=".user.UserResumeActivity"
            android:theme="@style/UserActivityTheme" />
        <activity
            android:name=".user.UserAgentActivity"
            android:theme="@style/UserActivityTheme" />
        <activity
            android:name=".user.UserAbilityActivity"
            android:theme="@style/UserActivityTheme" />
        <activity
            android:name=".user.UserCollectActivity"
            android:theme="@style/UserActivityTheme" />
    </application>

</manifest>
